In [1]:
import pandas as pd
import numpy as np
import plotly.express as px
import plotly.figure_factory as ff
from plotly.subplots import make_subplots
import plotly.graph_objects as go
import chart_studio.plotly as py
from plotly import tools
import matplotlib.pyplot as plt 
from scipy import stats
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.tree import DecisionTreeClassifier, plot_tree
from sklearn.model_selection import cross_val_score
from sklearn.metrics import classification_report, accuracy_score, make_scorer, confusion_matrix, ConfusionMatrixDisplay

In [4]:
# fetching classification data already prepared using DecisionTree notebook
df = pd.read_csv("data/classification_1.csv",index_col=0)

In [5]:
df

,B_24,B_17,B_25,B_15,B_18,B_2,B_19,B_16,Good/Bad,390.0,391.0,392.0,393.0,394.0,395.0,396.0,396.93,397.0,imputed
timestamp,,,,,,,,,,,,,,,,,,,
2020-03-01 00:00:00,39.06,2388.02,23.4190,47.47,8138.62,-0.0007,8.4195,521.66,0,0,0,1,0,0,0,0,0,0,0
2020-03-01 00:05:00,39.00,2388.07,23.4236,47.49,8131.49,0.0019,8.4318,522.28,0,0,0,1,0,0,0,0,0,0,0
2020-03-01 00:10:00,38.95,2388.03,23.3442,47.27,8133.23,-0.0043,8.4178,522.42,0,1,0,0,0,0,0,0,0,0,0
2020-03-01 00:15:00,38.88,2388.08,23.3739,47.13,8133.83,0.0007,8.3682,522.86,0,0,0,1,0,0,0,0,0,0,0
2020-03-01 00:20:00,38.90,2388.04,23.4044,47.28,8133.80,-0.0019,8.4294,522.19,0,0,0,0,1,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-05-11 14:50:00,38.49,2388.26,22.9735,48.07,8137.60,-0.0004,8.4956,519.49,1,0,0,0,0,0,0,0,0,1,0
2020-05-11 14:55:00,38.30,2388.22,23.1594,48.04,8136.50,-0.0016,8.5139,519.68,1,0,0,0,0,0,1,0,0,0,0
2020-05-11 15:00:00,38.44,2388.24,22.9333,48.09,8141.05,0.0004,8.5646,520.01,1,0,0,0,0,0,0,0,0,0,1
2020-05-11 15:05:00,38.29,2388.23,23.0640,48.39,8139.29,-0.0011,8.5389,519.67,1,0,0,0,0,0,1,0,0,0,0
2020-05-11 15:10:00,38.37,2388.26,23.0522,48.20,8137.33,-0.0032,8.5389,519.30,1,0,0,0,0,0,0,1,0,0,0